################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.suo
*.VC.db
*.tlog
*.exe
*.ilk
*.log
*.obj
*.pdb
*.idb